<div class="content-area">    
    <div class="container">
        <div class="section-header">
            <h2>Portfolio</h2>
        </div>

        <div class="text-center">
            <ul class="list-inline cat"> <!-- Portfolio Filter Categories -->
                <li><a ng-class="{ active: !portfolio.selectedType }" ng-click="portfolio.filter(null);">All</a></li>
                <li><a ng-class="{ active: portfolio.selectedType == 'certificate' }" ng-click="portfolio.filter('certificate');">Certificates</a></li>
                <li><a ng-class="{ active: portfolio.selectedType == 'pamphlet' }" ng-click="portfolio.filter('pamphlet');">Pamphlets</a></li>
                <li><a ng-class="{ active: portfolio.selectedType == 'businessCard' }" ng-click="portfolio.filter('businessCard');">Business Cards</a></li>
            </ul><!-- End Portfolio Filter Categories -->
        </div>

    </div><!-- End Container -->

    <div class="container"> <!-- container -->
        <div id="itemsWorkThree" class="row text-center"> <!-- Portfolio Wrapper Row -->

            <div ng-repeat="item in portfolio.items | filter: portfolio.repeatFilter" class="col-xs-12 col-sm-6 col-md-3 col-lg-3"> <!-- Works #1 col 3 -->
                <div class="box"> 
                    <div class="hover-bg">
                        <div class="hover-text off">
                            <a ng-href="{{item.link}}"><i class="fa fa-chain"></i></a> <!-- change # with your url to link it to another page -->
                        </div> 
                        <img ng-src="{{item.thumb}}" class="img-responsive" alt="{{item.name}} {{item.flavourText}}"> <!-- Portfolio Image -->
                    </div>
                    <h5>{{item.name}}<br><small><em>{{item.flavourText}}</em></small></h5>
                </div>
            </div><!-- end Works #1 col 3 -->
            
        </div> <!-- End Row -->

    </div> <!-- End Container -->
</div>