<div class="content-area">

    <div class="container">
        <div class="section-header">
            <h2>Services</h2>
        </div>
    </div>

    <div id="feature" class="gray-bg"> <!-- fullwidth gray background -->
        <div class="container"> <!-- container -->
            <div class="row" role="tabpanel"> <!-- row -->
                <div class="col-md-4 col-md-offset-1"> <!-- tab menu col 4 -->

                    <ul class="features nav nav-pills nav-stacked" role="tablist">
                        <li role="presentation" ng-class="{ active : services.selected == 'business' }">  <!-- feature tab menu #1 -->
                            <a ng-click="services.select('business')" role="tab" >
                                <span class="fa fa-building"></span>
                                Business<br>&nbsp;
                            </a>
                        </li>
                        <li role="presentation" ng-class="{ active : services.selected == 'individual' }"> <!-- feature tab menu #2 -->
                            <a ng-click="services.select('individual')" role="tab">
                                <span class="fa fa-user"></span>
                                Individual<br>&nbsp;
                            </a>
                        </li>
                        <li role="presentation" ng-class="{ active : services.selected == 'international' }"> <!-- feature tab menu #3 -->
                            <a ng-click="services.select('international')" role="tab">
                                <span class="fa fa-globe"></span>
                                International Taxation<br><small>in Canada</small>
                            </a>
                        </li>
                    </ul>

                </div><!-- end tab menu col 4 -->

                <div class="col-md-6"> <!-- right content col 6 -->
                    <!-- Tab panes -->
                    <div class="tab-content features-content"> <!-- tab content wrapper -->
                        <div role="tabpanel" class="tab-pane fade in" ng-class="{ active : services.selected == 'business' }"> <!-- feature #1 content open -->
                            <h4>Business</h4>
                            <ul>
                                <li>Business Registration</li>
                                <li>Accounting System set-up</li>
                                <li>Inventory Valuation</li>
                                <li>Book-keeping, Payroll, GST/HST, WSIB, Bank Reconciliation</li>
                                <li>T4, T4A, T3, T5, T5013, Capital cost allowance, Investment tax credits</li>
                                <li>Financial Reports</li>
                                <li>Corporation tax, partnership information return</li>
                                <li>Loss carry back and carry forward</li>
                                <li>Planning the use of corporation and shareholder-manager renumeration</li>
                            </ul>
                            <img src="img/business.jpg" class="img-responsive">
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" ng-class="{ active : services.selected == 'individual' }"> <!-- feature #2 content -->
                            <h4>Individual</h4>
                            <ul>
                                <li>Employment income tax, employment & partnership relative expense claims & GST/HST rebates</li>
                                <li>Self-employment income tax</li>
                                <li>Rental income tax</li>
                                <li>Investment income tax, stocks, mutual funds</li>
                                <li>Home office expense deductions</li>
                                <li>Automobile expense deductions</li>
                            </ul>
                            <img src="img/individual.jpg" class="img-responsive">
                        </div>
                        <div role="tabpanel" class="tab-pane fade in" ng-class="{ active : services.selected == 'international' }"> <!-- feature #3 content -->
                            <h4>International Taxation</h4>
                            <ul>
                                <li>Non-residents, part-year residents, emigration, international students</li>
                                <li>Non-resident rental property S.216 election</li>
                                <li>Deemed acquisition on entering Canada</li>
                                <li>Deemed disposition on leaving Canada</li>
                                <li>Taxation of Canadian Residents with Foreign Investments</li>
                            </ul>
                            <img src="img/international.jpg" class="img-responsive" alt="...">
                        </div>
                    </div> <!-- end tab content wrapper -->
                </div><!-- end right content col 6 -->

            </div> <!-- end row -->
        </div> <!-- end container -->
    </div><!-- end fullwidth gray background -->
</div>